@import url(/styles/menu.css);
@import url(/styles/contact.css);
@import url(/лого.png);
@import url(/styles/title.css);
@import url(/styles/button.css);
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 10469px;
  width: 100%;
  border-radius: 0px;
}

.header {
  height: 184px;
  width: 10px;
  border-radius: 0px;
}

.header_photo {
  border-radius: 0px;
  width: 100vw;
}
