.brand {
  width: 1224px;
  height: 253px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 25px 25px 25px;
  background: rgba(44, 53, 61, 0.2);
  position: relative;
  overflow: hidden;
}

.brand::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 72, 66, 0.4);
  filter: blur(50px);
  left: 0;
  top: 0;
  width: 160px;
  height: 160px;
  transform: translate(-50%, -50%);
}

.brand__group {
  width: 1059px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand__group-title {
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.78);
  margin-top: 55px;
}

.brand__group-icons {
  width: 1059px;
  height: 51px;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
