.menu {
  height: 184px;
  width: 100vws;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
}

.menu_up {
  height: 82px;
  width: 100vw;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}

.menu_down {
  height: 80px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  border-top: 1px solid #3333331a;
}

.block_menu_down {
  height: 24px;
  width: 1202px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
