.title_header {
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 70%;
  color: #212121;
}

.number_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 40px;
  height: 52px;
  width: 410px;
  left: 990.0001220703125px;
  top: 26px;
  border-radius: 0px;
}

.title_button {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #ff5900;
}

.header_photo_container {
  position: relative;
  text-align: center;
  color: rgb(142, 8, 8);
  width: 100vw;
}

.header_photo_title {
  position: absolute;
  margin: 130px 620px 396px 150px;
  font-family: "Montserrat";
  font-size: 68px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  width: 780px;
  height: 150px;
  color: white;
}
.header_photo_title_2 {
  position: absolute;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  top: 178px;
  border-radius: nullpx;
  margin: 135px 620px 396px 150px;
  color: white;
}
